<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інтеграція з Django</title>
</head>
<body>
    <h2>Мета проекту:</h2>
    <p>Мета проекту - навчитися створювати веб-сайти за допомогою фреймворку Django та розробляти функціональність для представлення особистого портфоліо.</p>
    <h1>Створення власного сайту з Django</h1>
    <p>Django - це онлайн-сервіс, який дозволяє вам створити своє власне професійне портфоліо в інтернеті. Ви можете показати свої навички, проекти та досягнення потенційним роботодавцям або клієнтам.</p>
    <h2>Основні можливості:</h2>
    <ul>
        <li>Створення Профілю: Додавайте свої дані про досвід роботи, освіту та навички.</li>
        <li>Додавання Проектів: Публікуйте ваші проекти та роботи для представлення.</li>
        <li>Зображення та Відео: Завантажуйте зображення та відео, щоб краще показати свої досягнення.</li>
        <li>Перегляд Інших Профілів: Дивіться портфоліо інших користувачів для натхнення.</li>
        <li>Пошук та Фільтрація: Шукайте інших фахівців та їхні роботи за різними критеріями.</li>
    </ul>
    <h2>Технології:</h2>
    <ul>
        <li>Фронтенд: HTML, CSS, JavaScript</li>
        <li>Бекенд: Django, Python</li>
        <li>База даних: SQLite</li>
    </ul>
    <h2>Проєкт створено в рамках лабораторної роботи</h2>
</body>
</html>
