<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
</head>
<body>
    <h1>Резюме</h1>
    <h2>Особиста інформація</h2>
    <p><strong>ПІБ:</strong> Загнібеда Анастасія Олександрівна</p>
    <p><strong>Дата народження:</strong> 09.09.2004 (19 років)</p>
    <p><strong>Контактна інформація:</strong> zagnibeda.anastasiia@icloud.com, +49 1792065 362</p>
    <h2>Досвід роботи</h2>
    <p>На даний момент відсутній</p>
    <h2>Освіта</h2>
    <p><strong>Назва ВНЗ:</strong> Харківський національний економічний університет ім.Семена Кузнеця</p>
    <p><strong>Факультет:</strong> Інформаційні технології</p>
    <p><strong>Курс:</strong> 3</p>
    <h2>Навички</h2>
    <ul>
        <li>Робота з MySQL</li>
        <li>Програмування на мові Python</li>
    </ul>
    <h2>Соціальні мережі</h2>
    <ul>
        <li><a href="https://www.instagram.com/_lannister.a_?igsh=MWRtejZoNDE4NWR0eA%3D%3D&utm_source=qr">Мій профіль в Instagram</a></li>
    </ul>
</body>
</html>
